@import "../../../styles/colors.scss";
@import "../../../styles/typography.scss";

.navbar {
  background-color: $primary-light-color;
  margin: 0;

  &__menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    list-style-type: none;
  }

  &__link {
    color: $text-medium-color;
    font-size: $font-size-medium;
    transition: color 0.3s ease;
    text-decoration: none;

    &:hover {
      color: $text-dark-color;
      cursor: pointer;
    }
  }
}

.active {
  color: $text-dark-color;
  text-decoration: underline;
}
