// primary
$primary-color: #a98f7d;
$primary-dark-color: #a38976;
$primary-light-color: #d9c0aeea;

// secundary
$secondary-color: #C5D8A4;
$secondary-dark-color: #9ca888;
$secondary-light-color: #bfedb2;
$secondary-light-color-transparent: #7ed89a72;

// text
$text-color: #433520;
$text-medium-color: #745a34be;
$text-light-color: #e4e2e2;
$text-dark-color: #000000;

// background
$background-color: #f8f9fa;
$background-dark-color: #343a40;
$background-light-color: #ffffff;

// other
$success-color: #3ed160;
$error-color: #dc3545;
$warning-color: #ffc107;