// Fonts dim
$font-size-default: 1rem;
$font-size-large: 1.5rem;
$font-size-medium: 1.25rem;
$font-size-small: 0.875rem;
$font-size-xxl: 2rem;

.text-small {
  font-size: $font-size-small;
}

.text-normal {
  font-size: $font-size-default;
}

.text-large {
  font-size: $font-size-large;
}

.text-medium {
  font-size: $font-size-medium;
}
